<ion-view>

  <ion-nav-title>
      <img height="40" src="img/innovest.png">
  </ion-nav-title>

  <ion-content>
    <h1>Real Estate</h1>
 


    <!--
    List of houses
      - Purchasing a house:
      - Button leads to mortgage
    Link to historic housing prices
    list icons on left, list buttons on right with purchase button-->

  <div class="list">
  
    <div class="item item-divider">
      Houses
    </div>
    <a class="item item-avatar item-button-right" href="#">
      <img src="img/house1.png">
      <h2> Address: 75 King St S, Waterloo, ON N2J 1P2 </h2>
      <h2> Price: $2000000 </h2>
      <button class="button button-positive">
      </button>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house2.png">
      <h2> 200 University Ave W, Waterloo, ON N2L 3G1</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house3.png">
      <h2> 106 Seagram Dr, Waterloo, ON N2L 3B8</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house4.png">
      <h2> 100 Regina St S, Waterloo, ON N2J 4P9</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house5.png">
      <h2> 98 Dunbar Rd N, Waterloo, ON N2L</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house6.png">
      <h2> 185 King St S, Waterloo, ON N2J 1P7</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house1.png">
      <h2> 835 King Street West, Kitchener, ON N2G 1G3</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house2.png">
      <h2> 140 Westmount Rd N, Waterloo, ON N2L 3G6</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house3.png">
      <h2> 70 Bridgeport Rd E, Waterloo, ON N2J 2J9</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house4.png">
      <h2> 101 Father David Bauer Drive, Waterloo, ON N2L 0B4</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house5.png">
      <h2> 170 University Ave W, Waterloo, ON N2L 3E9</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house6.png">
      <h2> 290 Westmount Rd N, Waterloo, ON N2L 3G3</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house1.png">
      <h2> 200 Columbia St W, Waterloo, ON N2L 3G1</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house2.png">
      <h2> 250 Columbia St W, Waterloo, ON N2L 0A1</h2>
      <h2> Price: $ </h2>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/house3.png">
      <h2> 295 Hagey Blvd, Suite 240, Hagey Blvd, Waterloo, ON N2L 6R5</h2>
      <h2> Price: $ </h2>
    </a>


  </div>

   </ion-content>
</ion-view>